.page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 0 5px 5px;
  width: 100vw;
  overflow: auto;
  min-height: 100vh;


  &__header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      height: 65px;
      width: 100%;
      background-color: rgba(0,0,0,.5);
      color: white;
      padding-bottom: 10px;
      h1 {
        margin-left: 30px;
        font-size: 24px;
      }
  }
}

#wg_target_div_512670_72189470 {
  display: flex !important;
  justify-content: center;
  overflow: auto !important;
}
