@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "styles/player";
@import "styles/link";
@import "styles/page";
@import "styles/button";

body {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	min-height: 100vh;
  font-family: 'Roboto', sans-serif;
}

li {
	list-style: none;
	font-size: 24px;
}

a {
	display: block;
	text-decoration: none;
}

